
* {
    box-sizing: border-box;
}

html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 5%, rgb(216, 221, 221) 95%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th {
    text-align: left;
    height: 100px;
    background: #93ded0;
    color: #ff9068;
}

td {
    text-align: left;
    background: #5c5590;
    color: #e98eff;
}
select {
    width:  100%;
}

.blueText{
    color: #000afd;
    display: inline;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#redText{
    color: #fd0000;
    display: inline;
}

.tiles-container{
    display: flex;
    flex-direction: column;
    font-size: .5em;
}

.tile{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: #F2F2F2;
}

.content{
    margin: 0px;
    padding: 0px;
}

.search-bar-container {
    display: flex;
    justify-content: center;
}

.search-bar label {
<<<<<<< HEAD
        display: block;
        text-align: center;
        line-height: 150%;
        font-size: .85em;
}
=======
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: .85em;
}

.did-you-mean {
    font-size: .5em;
    font-style: italic;
}
>>>>>>> autocomplete-spell-checker